p {
  font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
}
p.important {
  font-size: 1em;
    font-weight: 900;
}
.typewriter {
    font-family:'Courier New', Courier, monospace;
}
.emphasized {
    font-style: italic;
}
.typewriter {
    font-family:'Courier New', Courier, monospace;
}
.collor {
    color: red;
}
.letspace{
    letter-spacing: 2em
}
.wordspace{
    word-spacing: 4em
}
.linspace{
    line-height: 3em
}
